.idea
conf
*.iml
keys
/conf/Network.xml
/conf/System.xml
!.gitignore
/target/
/src/test/resources/ftp/
logs/*
!logs/README.txt
/conf/properties/ftpusers.properties
/conf/ftp/users.properties
/conf/keys.xml
